body {
  background-color: black !important;
}

h1 {
  font-size: 50px !important;
  font-weight: 900 !important;
  color: yellow !important;
}

p {
  font-size: 20px;
  color: yellow;
}

.container{
  margin-top: 40px;
}

.next-btn {
  margin: 10px;
}
